* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-wrapper {
  width: 72.5%;
  max-width: 960px;
  margin: 0 auto;
}

.header__title {
  color: #64bbed;
}

.header__description {
  font-style: italic;
  font-size: 20px;
}

.sandbox {
  padding: 0 1.2rem;
  padding-bottom: 1.2rem;
  border: #e7e7e7 solid 1px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.feature__title {
  color:#3a444a;
}

.feature__description {
  font-size: 0.8rem;
  color:#3a444a;
}

.feature__field {
  margin-top: 0.625rem;
  font-size: 0.8rem;
  font-style: italic;
  color:#b3b9bd;
}

.feature__title,
.feature__description {
  margin-bottom: 0;
}

.button {
  background-color: #64bbed;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 0.625rem;
  box-shadow: 2px 2px #dcdbdb;
  transition: ease-in-out 0.25s;
}

.button:hover {
  cursor: pointer;
  background-color: #3a444a;
}
